.customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* 배경 오버레이 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .customModal {
    position: relative;
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .passwordChangeContainer {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .instructions {
    color: #FF713C;
    margin-bottom: 20px;
  }
  
  .instructions p {
    margin: 0;
  }
  
  .inputContainer {
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #FF713C;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .success {
    color: green;
    margin-top: 10px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column; /* 버튼을 수직으로 배치 */
    gap: 10px; /* 버튼 사이 간격 */
    margin-top: 20px;
  }
  
  .confirmButton {
    background-color: #FF713C;
    color: white;
    border: none;
    padding: 10px; /* 버튼의 세로 두께 줄임 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancelButton {
    background-color: white;
    color: #FF713C;
    border: 1px solid #FF713C;
    padding: 10px; /* 버튼의 세로 두께 줄임 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  